body {
    font-family: 'Muli', sans-serif;
    width: 100%;
    background-color: #252525;
    color: white;
    font-weight: 400;
    font-size: 24px;
}

.grid {
    float: left;
    height: 100%;
}

.grid-left {
    min-width: 70%;
}
.grid-right {
    min-width: 30%;
}

#weather-box {

}

#weather-header {
    width: 100%;
    font-size: 64px;
    padding: 48px;
}
#weather-header-left {
    float: left;
    width: 50%;
    text-align: center;
    padding-top: 12px;
}
#weather-header-right {
    float: left;
    width: 50%;
    text-align: center;
}

#weather-current-temp {
    font-weight: 300;
}

#weather-description {
    width: 100%;
    font-size: 32px;
    margin-top: 24px;
}

#weather-header .wi {
    font-size: 96px;
    width: 100%;
}