body {
    font-family: 'Muli', sans-serif;
    width: 100%;
    background-color: #252525;
    color: white;
    font-weight: 300;
    font-size: 24px;
}

.grid {
    float: left;
    height: 100%;
}

.grid-left {
    min-width: 70%;
}
.grid-right {
    min-width: 30%;
}

#top-section {
    padding: 96px;
}

.top-section-half {
    float: left;
    width: 50%;
}

#date-string {
    width: 100%;
    font-size: 48px;
}
#day-string {
    font-size: 36px;
    font-weight: 400;
    color: rgba(255,255,255,0.5);
}
#time-string {
    font-size: 86px;
    padding-top: 4px;
}


#weather-box {

}

#weather-header {
    font-size: 64px;
    margin: 0 96px;
    padding: 96px 0 48px 0;
    border-bottom: 1px solid rgba(255,255,255, 0.25);
}
#weather-header-left {
    float: left;
    width: 50%;
    text-align: center;
    padding-top: 12px;
}
#weather-header-right {
    float: left;
    width: 50%;
    text-align: center;
}

#weather-current-temp {
    font-weight: 300;
}

#weather-description {
    width: 100%;
    font-size: 32px;
    margin-top: 24px;
}

#weather-header-right .wi {
    font-size: 96px;
    width: 100%;
}

#weather-desc {
    margin: 0 96px;
    padding: 48px 0;
    border-bottom: 1px solid rgba(255,255,255, 0.25);
}

#weather-desc table {
    font-size: 36px;
    width: 100%;
}
#weather-desc td {
    width: 50%;
    padding: 8px;
}